Allow creation of Null MX records

Support for RFC7505

Please allow the creation of so called "Null-MX records"

https://tools.ietf.org/html/rfc7505#section-3 specifies:

    To indicate that a domain does not accept email, it advertises a single MX RR (see Section 3.3.9 of [RFC1035]) with an RDATA section consisting of preference number 0 and a zero-length label, written in master files as ".", as the exchange domain, to denote that there exists no mail exchanger for a domain.

Current validation rules do not allow this. Please change validation rules in ndcli to allow the following command:

`ndcli create rr some.domain. mx 0 .`