[DNSSEC] check handling of empty non-terminals

An empty non-terminal is a "hole" in the DNS label chain.

```
ndcli create rr blubb.blubb.example.com. a 127.0.0.1
```
creates an incorrect NXDOMAIN at `blubb.example.com`

These RFCs also require correct handling of empty non terminals.
RFC 4592
RFC 7816
RFC 8020

The PowerDNS code fixes this issue by automatically inserting synthesised records (example for example.com) if the zone consumed via AXFR.

|name|type|content|
|blub.example.com|NULL|NULL|
|blub.blub.example.com|A|127.0.0.1|
